* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, 'JetBrainsMono Nerd Font';
    font-size: 14px;
    font-weight: 700;
    color: #f0f0f0;
    */
    font-family: "FontAwesome", "Noto Sans", "sans-serif" ;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    margin-top: 6px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    background-color: black;
    color: #ffffff;
    border-radius: 70px;
    padding: 9px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
   color: #D3C7A2;
   background-color: black;
   border: 2px solid rgba(51, 102, 153, 0.5);
   border-radius: 30px;
   padding: 6px
}

#clock:hover {
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 2px solid rgba(62, 95, 122, 0.5); /* Subtle initial border */
    background-color: rgba(10, 10, 10, 0.7);

}
#battery {
    border: 2px solid rgba(51, 102, 153, 0.5);
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 6px;
}

#battery.charging, #battery.plugged {
    color: #26A65B; 

}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-spotify{
	border: 2px solid rgba(62, 95, 122, 0.5);
	border-radius: 30px;
	color: #1ED760;
	background-color: black;
	padding: 6px;

}

#temperature {
	
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-weather{
    background-color: black;
    border-radius: 30px;
    border: 2px solid rgba(62, 95, 122, 0.5);
    padding: 6px;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunny {
    color: #F5B971;
}


#custom-weather.fair {
    color: #FDDAA0;
}

#custom-weather.clear {
    color: #B7D2DA;
}

#custom-weather.cloudy, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainy, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.snowy, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #FFF9E0;
}
